@font-face {
    font-family: '王汉宗中行书繁';
    src: url('王汉宗中行书繁.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '杨任东竹石体';
    src: url('杨任东竹石体.ttf');
    font-weight: normal;
    font-style: normal;
}
